<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <%- include('partials/header', {page: 'form'}); %>

    <div class="container">

      <h1>You’re Invited</h1>

<p>Gain an understanding and hands on experience working with IBM innovative technologies, focused on key topics around WebSphere Application Server/Liberty, microservices, Docker, Kubernetes and IBM Bluemix.  All used together in and end-to-end DevOps processes using tools like GIT, Jenkins, Maven, IBM UrbanCode Deploy, and Bluemix DevOp services.
</p>

<p>
This workshop is for enterprise developers, solution architects, Websphere administrator. 
Teams that are looking to achieve continuous deliver, and want to learn how to leverage open source solutions with IBM technologies. 
This workshop is open to IBM Business partners. 
</p>

      <form class="form" method="post" action="/">
       <div class="form-group ">
        <label class="control-label requiredField" for="name">
         Name
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="name" name="name" type="text" required="required">
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="email">
         Email
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="email" name="email" type="email" required="required">
       </div>
       <div class="form-group ">
        <label class="control-label " for="tel">
         Telephone #
        </label>
        <input class="form-control" id="tel" name="tel" type="text">
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="select">
         Select a Choice
         <span class="asteriskField">
          *
         </span>
        </label>
        <select class="select form-control" id="select" name="select" required="required">
         <option value="">Date and location</option>
         <option value="Wellington">
          Wellington - Date: 04/05 - Location: IBM office
         </option>
         <option value="Auckland">
          Auckland - Date: 05/05 - Location: IBM office
         </option>
         <option value="Sydney">
          Sydney  - Date: 08/05 - Location: IBM office
         </option>
         <option value="Melbourne">
          Melbourne  - Date: 09/05 - Location: IBM office
         </option>
         <option value="Canberra">
          Canberra  - Date: 10/05 - Location: IBM office
         </option>
        </select>
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">
          Submit
         </button>
        </div>
       </div>
      </form>
    </div><!-- /.container -->

    <% include partials/footer %>
  </body>
</html>