<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>

    <div class="container">

      <form class="form" method="post">
       <div class="form-group ">
        <label class="control-label requiredField" for="name">
         Name
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="name" name="name" type="text">
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="email">
         Email
         <span class="asteriskField">
          *
         </span>
        </label>
        <input class="form-control" id="email" name="email" type="text">
       </div>
       <div class="form-group ">
        <label class="control-label " for="tel">
         Telephone #
        </label>
        <input class="form-control" id="tel" name="tel" type="text">
       </div>
       <div class="form-group ">
        <label class="control-label requiredField" for="select">
         Select a Choice
         <span class="asteriskField">
          *
         </span>
        </label>
        <select class="select form-control" id="select" name="select">
         <option value="Sydney">
          Sydney
         </option>
         <option value="Melbourne">
          Melbourne
         </option>
         <option value="Canberra">
          Canberra
         </option>
         <option value="Wellington">
          Wellington
         </option>
         <option value="Auckland">
          Auckland
         </option>
        </select>
       </div>
       <div class="form-group ">
        <label class="control-label ">
         Check all that apply
        </label>
        <div class=" ">
         <div class="checkbox">
          <label class="checkbox">
           <input name="checkbox" type="checkbox" value="First Choice">
           First Choice
          </label>
         </div>
         <div class="checkbox">
          <label class="checkbox">
           <input name="checkbox" type="checkbox" value="Second Choice">
           Second Choice
          </label>
         </div>
         <div class="checkbox">
          <label class="checkbox">
           <input name="checkbox" type="checkbox" value="Third Choice">
           Third Choice
          </label>
         </div>
        </div>
       </div>
       <div class="form-group">
        <div>
         <button class="btn btn-primary btn-lg btn-block" name="submit" type="submit">
          Submit
         </button>
        </div>
       </div>
      </form>
    </div><!-- /.container -->

    <% include partials/footer %>
  </body>
</html>