<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <%- include('partials/header', {page: 'form'}); %>
    <div class="container">
      <h1>You have been registered</h1>
      <p class="lead">Thanks for registering, you will receive an email confirmation shortly, from your local technical seller.</p>

    </div><!-- /.container -->

    <% include partials/footer %>
  </body>
</html>